<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
</head>
<body>
    <h1><input id="liveage" type="text">세 은퇴자금 계산기</h1>
    <table>
        <tr>
            <td>저축금액</td>
            <td><input id="save" type="text"></td>
            <td>원</td>
        </tr>
        <tr>
            <td>수익률</td>
            <td><input id="profit" type="text"></td>
            <td>%</td>
        </tr>
        <tr>
            <td>은퇴시기</td>
            <td><input id="retire" type="text"></td>
            <td>세</td>
        </tr>
        <tr>
            <td>예상금액</td>
            <td><input id="prediction" type="text"></td>
            <td>원</td>
        </tr>
        <tr>
            <td>목표금액</td>
            <td><input id="goal" type="text"></td>
            <td>원</td>
        </tr>
    </table>
</body>
</html>